{% extends 'base.html' %}

{% block main %}
<div class="row-fluid">
  <div class="container-fluid status-{{project.get_status|lower}}">
    <div class="row-fluid">
      <span class="span3"><h3>{{project.topic}}</h3></span>
      <span class="span5">&nbsp;</span>
      <span class="span4" style="text-align:right;">
        {% if project.is_draft %}
          <a class="btn" href="#">Activate project</a>
          <a class="btn" href="#">Settings</a>
        {% else %}
          <a class="btn" href="#">Export data</a>
          <a class="btn" href="#">Close project</a>
          <a class="btn" href="#">Settings</a>
        {% endif %}
      </span>
    </div>
    <div class="row-fluid">
      <span>{{project.get_status}}</span>
    </div>
  </div>
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li><a href="{% url project_view id=project.id %}">Overview</a></li>
      <li><a href="{% url project_workers_view id=project.id %}">Workers</a></li>
      <li><a href="{% url project_data_view id=project.id %}">Data</a></li>
      <li><a href="{% url project_classifier_view id=project.id %}">Classifier</a></li>
      <li class="active"><a href="{% url project_btm_view id=project.id %}">Beat the Machine</a></li>
    </ul>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h3>Beat the Machine</h3>
    </div>
  </div>
  <div class="row-fluid">
    Beat the Machine starts a new tagasauris task that will gather urls that may be misjudged by the classifier.
    If an url is submittable (we don't want urls that category both submiteer and classifier agree on) we send it to actual
    user validation. Based on the difference on the classifier reslult and user result a bonus will be paid out to the worker
    that submitted that url. <a href="#">(less)</a>
  </div>
  <div class="row-fluid" style="margin-top:7px;">
    <h4>Start Beat the Machine</h4>
    <hr>
  </div>
  <div class="row-fluid">
    {% if btm_warn %}
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        {{ btm_warn }}
    </div>
    {% endif %}
  </div>
  <div class="row-fluid">
    <table id="start-btm">
      <tbody>
        <tr>
          <td>Topic:</td>
          <td><input type="text" name="topic"></td>
          <td>e.g. Chocolate bar chocolate cake gingerbread pudding.</td></tr>
        <tr>
          <td>Topic Description:</td>
          <td><textarea name="desc" cols=50 rows=5></textarea></td>
          <td>e.g. Sesame snaps suger plum dessert macaroon gummi bears gingerbread sweet roll. Marshmallow jelly beans toffee
              biscuit chocolate bar ice cream. Toffee souffle jelly jujubes gummies jelly beans jelly powder.</td>
        </tr>
        <tr>
          <td>No. of URLs to gather:</td>
          <td><input type="text" name="urls_no"></input></td>
          <td>You have 200 URL free quota to use provided by Odesk</td>
        </tr>
        <tr>
          <td>Reward (points):</td>
          <td><input type="text"></input>
          <td>Point reward translated to cash will be the money got by workers, which find wrongly classified URLs.
        </tr>
        <tr>
          <td>Estimated cost:</td>
          <td>$ 0</td>
          <td>Final cost depends on the quality of the gathered links.
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><a href="#" class="btn">Start Beat the Machine</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
div.status-active {
  background-color: #DFF0D8;
}
div.status-completed {
  background-color: #F7F7F9;
}
div.status-draft {
  background-color: #FCF8E3;
}
div.status-stopped {
  background-color: #F2DEDE;
}
table#start-btm td:nth-of-type(1) {
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
table#start-btm td:nth-of-type(2) {
    padding-right: 10px;
}
table#start-btm td:nth-of-type(3) {
    width: 350px;
}
table#start-btm td{
    vertical-align: top;
}
</style>
{% endblock %}
