{% extends 'main/project/project_base.html' %}

{% block btm_active%}active{% endblock %}
{% block project_content %}
<div class="row">
<div class="span3">
  <h3>Beat the Machine</h3>
</div>
</div>
<div class="row">
<div class="span9">
  Beat the Machine starts a new tagasauris task that will gather urls that may be misjudged by the classifier.
  If an url is submittable (we don't want urls that category both submiteer and classifier agree on) we send it to actual
  user validation. Based on the difference on the classifier reslult and user result a bonus will be paid out to the worker
  that submitted that url. <a href="#">(less)</a>

  {% include 'main/project/own_workforce_links.html' %}
</div>
<div class="span3">
  <h3>BTM Statistics</h3>
  <table id="btm-statistics">
    <thead></thead>
    <tbody>
      <tr><td>Status: In progress</td><td>1%</td></tr>
      <tr><td>No. of URLs to gather</td><td>200</td></tr>
      <tr><td>No. of URLs gathered</td><td>2</td></tr>
    </tbody>
  </table>
</div>
</div>
<div class="row" style="margin-top:7px;">
<h4>BTM Gathered URLs</h4>
<hr>
</div>
<div class="row">
Beat the machine is still in progress. You can add your results to the classifier data once the status is finished
</div>
<div class="row">
<table class="table" style="margin-bottom:0px;">
  <thead>
    <tr>
      <th style="width:14px;"><input type="checkbox" name="check-all"></th>
      <th style="width:20px;">Preview</th>
      <th>URL</th>
      <th style="width:120px;">Added on</th>
      <th style="width:120px;">Calculated Class Probability</th>
      <th style="width:120px;">Voting</th>
      <th style="width:14px;">Class</th>
      <th style="width:14px;">Type</th>
    </tr>
  </thead>
</table>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
table#btm-statistics td:nth-of-type(2){
    width: 100px;
    text-align: right;
}
</style>
{% endblock %}
