{% extends 'main/project/project_base.html' %}

{% block btm_active%}active{% endblock %}
{% block project_content %}
<div class="row">
  <div class="span3">
    <p><h3>Beat the Machine</h3></p>
  </div>
</div>
<div class="row">
  <div class="span9">
    Beat the Machine starts a new tagasauris task that will gather urls that may be misjudged by the classifier. <a id="more-button" href="#" onclick="$('#more-desc').css('display', ''); $(this).css('display', 'none');">(more)</a>
    <span style="display: none;" id="more-desc">If an url is submittable (we don't want urls that category both submiteer and classifier agree on) we send it to actual
    user validation. Based on the difference on the classifier reslult and user result a bonus will be paid out to the worker
    that submitted that url. <a href="#" onclick="$('#more-button').css('display', ''); $('#more-desc').css('display', 'none')">(less)</a></span>

    {% include 'main/project/own_workforce_links.html' %}
  </div>
  <div class="span3">
    <h3>BTM Statistics</h3>
    <table id="btm-statistics">
      <thead></thead>
      <tbody>
        <tr><td>Status: In progress</td><td>1%</td></tr>
        <tr><td>No. of URLs to gather</td><td>200</td></tr>
        <tr><td>No. of URLs gathered</td><td>2</td></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" style="margin-top:7px;">
  <div class="span12">
    <h4>BTM Gathered URLs</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="span12">
    Beat the machine is still in progress. You can add your results to the classifier data once the status is finished
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table" style="margin-bottom:0px;">
      <thead>
        <tr>
          <th style="width:14px;"><input type="checkbox" name="check-all"></th>
          <th style="width:20px;">Preview</th>
          <th>URL</th>
          <th style="width:120px;">Added on</th>
          <th style="width:120px;">Calculated Class Probability</th>
          <th style="width:120px;">Voting</th>
          <th style="width:14px;">Class</th>
          <th style="width:14px;">Type</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}