{% extends 'main/project/project_base.html' %}

{% block classifier_active %}active{% endblock %}
{% block project_content %}
  <div class="row">
    <div class="span12">
      <p><h3>Classifier</h3></p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <div id="classification-results"  class="table-container-anno1">
        <h3>Classification Results</h3>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 60px;">Preview</th>
                <th>URL</th>
                <th style="width: 50px;">Class</th>
                <th style="width: 130px;">Calculated Class Probability</th>
              </tr>
            </thead>
            <tbody id="classifier-history" data-bind="foreach: entries">
              <tr>
                <td>
                  <a data-bind="visible: hasScreenshot, attr: {href: screenshot, title: screenshot}"><img data-bind="visible: screenshot, attr: {src: screenshot}" style="width: 60px; height: 60px;"></a>
                </td>
                <td class="td-url">
                  <a data-bind="attr: {href: url, title: url}"><span data-bind="text: url">&nbsp;</span></a>
                </td>
                <td>
                  <span data-bind="text: getLabel">&nbsp;</span>
                </td>
                <td>
                  <span data-bind="text: getProbability">&nbsp;</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="span6">

      <div class="table-container-anno3">
        <h4>Test classifier</h4>

        <div class="table-wrapper">
          To test the classifier you can input either URLs or text.
          <form name="classifyForm" method="POST" action="" onsubmit="return submitClassify();">
          <table id="classifier-test">
            <tbody>
              <tr>
                <td></td>
                <td>
                  <input id="radio-urls" type="radio" name="test-type" checked="checked" value="urls">URL(s)
                  <input id="radio-texts" type="radio" name="test-type" value="texts">Text(s)
                </td>
              </tr>
              <tr id="input-test-urls">
                <td>
                  Input test URL(s):
                </td>
                <td>
                  <textarea id='test-urls' name="test-urls" cols="40" rows="5" placeholder="URLs"></textarea>
                </td>
              </tr>
              <tr class="input-test-texts" style="display:none;">
                <td>
                  Input Text:
                </td>
                <td>
                  <textarea name="test-texts" cols="40" rows="5"></textarea>
                </td>
              </tr>
              <tr class="input-test-texts" style="display:none;">
                <td></td>
                <td>
                  <button id="new-text-button" href="#" class="btn" style="width: 100%">+</button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  {%csrf_token%}
                  <input type="submit" href="#" class="btn" value="Classify!">
                </td>
              </tr>
            </tbody>
          </table>
          </form>
        </div>
      </div>
    </div>
    <div class="span6 pull-right">
      <div class="table-container-anno1">
        <h3>Classifier statistics</h3>
        <div class="table-wrapper">
          <table class="table" id="classifier-stats">
            <thead></thead>
            <tbody>
              <tr><td>URLs collected</td><td data-bind="text: allCount">{{classifier_stats.count}}</td><td>-</td></tr>
              <tr><td>yes class records</td><td data-bind="text: yesCount">{{classifier_stats.yes_labels.val}}</td><td><span data-bind="text: yesPerc">{{classifier_stats.yes_labels.perc|floatformat:1}}</span>%</td></tr>
              <tr><td>no class records</td><td data-bind="text: noCount">{{classifier_stats.no_labels.val}}</td><td><span data-bind="text: noPerc">{{classifier_stats.no_labels.perc|floatformat:1}}</span>%</td></tr>
              <tr><td>broken class records</td><td data-bind="text: brokenCount">{{classifier_stats.broken_labels.val}}</td><td><span data-bind="text: brokenPerc">{{classifier_stats.broken_labels.perc|floatformat:1}}</span>%</td></tr>
            </tbody>
          </table>
          <div class="" id="performanceGraph">
            Graph
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if project.is_classifier_trained %}

  {% endif %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{{STATIC_URL}}js/knockout-2.1.0.js'></script>
<script src="{{STATIC_URL}}js/highcharts.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/models/classifier_history.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/models/classifier_stats.js" type="text/javascript"></script>

<script type="text/javascript">
$('#radio-urls').change(function(obj) {
        $('.input-test-texts').css('display', 'none');
        $('#input-test-urls').css('display', '');
    }
);
$('#radio-texts').change(function(obj) {
        $('#input-test-urls').css('display', 'none');
        $('.input-test-texts').css('display', '');
    }
);

var performanceGraph; // globally available
$(document).ready(function() {
      performanceGraph = new Highcharts.Chart({
         chart: {
            renderTo: 'performanceGraph',
            type: 'line',
            zoomType: 'x'
         },
         title: {
            text: ''
         },
         xAxis: {
            type: 'datetime',
            maxZoom: 1 * 3600 * 1000, // an hour
         },
         yAxis: {
            title: {
              text: 'Performance'
            },
            min: 0,
            max: 1,
            showFirstLabel: false
         },
         series: [{
            showInLegend: true,
            name: 'TPR',
            color: '#FFAAFF',
            data: [{{performance_TPR|safe}}]
         },
         {
            showInLegend: true,
            name: 'TNR',
            color: '#AAAAFF',
            data: [{{performance_TNR|safe}}]
         },
         {
            showInLegend: true,
            name: 'AUC',
            color: '#AAFFAA',
            data: [{{performance_AUC|safe}}]
         }]
      });
   });

var classifierStats = new classifier_stats();
classifierStats.yesCount({{classifier_stats.yes_labels.val}})
classifierStats.noCount({{classifier_stats.no_labels.val}})
classifierStats.brokenCount({{classifier_stats.broken_labels.val}})

var history = new classifier_history()

function updateClassifierStats(){
  $.get("{%url api_classifier api_name='v1' resource_name='job' job_id=project.id%}", function(data){
    classifierStats.yesCount(data['yes_count']);
    classifierStats.noCount(data['no_count']);
    classifierStats.brokenCount(data['broken_count']);
  })
}

var image_cache = {};

function updateClassifierHistory(){
  $.get("{%url api_classifier_history api_name='v1' resource_name='job' job_id=project.id%}?limit=10", function(data){
    var new_entries = [];
    // Expire cache
    $.each(image_cache, function(idx, val){
      val['active'] = false;
    })

    for (en in data['entries']){
      el = data['entries'][en]
      new_entries.push(new classifier_history_entry(el['screenshot'], el['url'], el['label'], el['label_probability']['Yes'], el['label_probability']['No'], 0, el['finished']));

      if (!(el['id'] in image_cache)){
        img = new Image();
        img.src = el['screenshot'];
        image_cache[el['id']] = {
          'image': img,
          'active': true,
        };
      } else
        image_cache[el['id']]['active'] = true;
    }

    // Update cache
    var new_cache = {};
    $.each(image_cache, function(idx, val){
      if (val['active'])
        new_cache[idx] = val;
    });
    image_cache = new_cache

    history.entries(new_entries)
  })
}

var csrftoken;

function submitClassify(){
  var form = document.forms['classifyForm'];
  var type = 'urls';
  csrftoken = form['csrfmiddlewaretoken'].value;
  $.each(form['test-type'], function(idx, val){
    if (val.checked)
    {
      type = val.value;
      return false;
    }
  });
  if (type == 'urls'){
    var urls = form['test-urls'].value.replace('\r', '')
    $('#test-urls').val('');
    urls = JSON.stringify(urls.split('\n'))
    $.post("{%url api_classifier_classify api_name='v1' resource_name='job' job_id=project.id%}",
      {
        'csrftoken': form['csrfmiddlewaretoken'].value,
        'csrfmiddlewaretoken': form['csrfmiddlewaretoken'].value,
        'urls': urls
      }, function(){
      });
  }
  return false;
}

$(document).ready(function(){
  ko.applyBindings(classifierStats, $('#classifier-stats')[0]);
  ko.applyBindings(history, $('#classifier-history')[0]);
  updateClassifierStats();
  updateClassifierHistory();
  setInterval(updateClassifierStats, 10 * 1000);
  setInterval(updateClassifierHistory, 10 * 1000);
})
</script>
{% endblock %}

