{% extends 'main/project/project_base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'data' %}
{% endblock %}

{% block body-class %}{{ block.super }} body-data{% endblock %}

{% block data_active %}active{%endblock%}
{% block project_content %}
  <div class="row">
    <div class="span3">
      <p><h3>Data</h3></p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="table-container-anno1">
        <h3>Data results</h3>
        <div class="table-wrapper">
          <table class="table fix">
            <thead>
              <tr>
                <th class="tiny-col">Preview</th>
                <th class="url">URL</th>
                <th class="tiny-col">Added on</th>
                <th class="tiny-col">Voting</th>
                <th class="tiny-col">Gold Sample</th>
              </tr>
            </thead>
            <tbody>
              {% if data_set %}
              {% for data in data_set %}
                <tr>
                  <!-- <td class="tiny-col">
                    <img class="pop" rel="popover" data-content="<img src='http://placehold.it/240x180'/>" width="60px" height="45px" src="http://placehold.it/60x45"/>
                  </td> -->
                  <!-- TODO XX Replace following column with the one above? -->
                  <td class="tiny-col">
                    <a href="{{ data.get_large_thumbnail_url }}">
                      <img style="width: 60px; max-height: 45px;" src="{{ data.get_small_thumbnail_url }}">
                    </a>
                  </td>
                  <td class="url">
                    <a href="{% url project_data_detail project.id data.id%}">{{data.url}}</a>
                  </td>
                  <td class="tiny-col">{{data.added_on|date:"Y-m-d H:i"}}</td>
                  <td class="tiny-col">{{data.get_yes_votes}} <span class="badge badge-info badge-yes"><i class="icon icon-o"></i></span> {{data.get_no_votes}} <span class="badge badge-info badge-no"><i class="icon icon-n"></i></span> {{data.get_broken_votes}} <span class="badge badge-info badge-broken"><i class="icon icon-b"></i></span></td>
                  <td class="tiny-col">
                    {% if data.is_gold_sample %}
                    {{data.get_label}}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              {% else %}
                <tr>
                  <td colspan="6">No data</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(function(){
  $('.pop').popover();
})
</script>
{% endblock %}