{% extends 'main/project/project_base.html' %}

{% block data_active %}active{%endblock%}
{% block project_content %}
  <div class="row">
    <div class="span">
      <ul class="pager">
        <li><a href="{% url project_data_view project.id %}">&lt; Back</a></li>
      </ul>
    </div>
    <div class="span10">
      <h3><a href="{{sample.url}}">{{sample.url}}</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      &nbsp;
      <img style="width: 100%" src="{{sample.screenshot}}">
    </div>
    <div class="span3">
      <h3>URL detail</h3>
      <table id="more-information">
        <thead></thead>
        <tbody>
          <tr><td>Added on</td><td>{{sample.added_on|date:"Y-m-d H:i"}}</td></tr>
          {% if sample.get_source_worker %}
          <tr><td>Uploaded by</td><td>{{sample.get_source_worker}}</td></tr>
          {% endif %}
        </tbody>
      </table>
      <hr>
      <h4>Voting stats</h4>
      <table id="more-information">
        <thead></thead>
        <tbody>
          <tr><td>Yes</td><td>{{sample.get_yes_votes}}</td></tr>
          <tr><td>No</td><td>{{sample.get_no_votes}}</td></tr>
          <tr><td>Broken</td><td>{{sample.get_broken_votes}}</td></tr>
        </tbody>
      </table>
      <h4>Class probability</h4>
      <table id="more-information">
        <thead></thead>
        <tbody>
          <tr><td>Yes</td><td>{{sample.get_yes_probability}}%</td></tr>
          <tr><td>No</td><td>{{sample.get_no_probability}}%</td></tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
table#more-information td:first-child {
  width: 140px;
  text-align: right;
  padding-right: 10px;
}
</style>
{% endblock %}
