{% extends 'main/project/project_base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'data' %}
{% endblock %}

{% block body-class %}{{ block.super }} body-data-detail{% endblock %}

{% block data_active %}active{%endblock%}
{% block project_content %}
  <div class="row">
    <div class="span">
        <a href="{% url project_data_view project.id %}" class="btn btn-mini btn-back">&lt; Back</a>
    </div>
    <div class="span10">
      <h3 class="data-url">{{sample.url}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="span9 screen-wrapper">
      <img style="width: 100%" src="{{sample.screenshot}}">
    </div>
    <div class="span3 table-container-anno1">
      <h3>URL detail</h3>
      <div class="table-wrapper">
        <span>Added on: </span><em>{{sample.added_on|date:"Y-m-d H:i"}}</em>
        {% if sample.get_source_worker %}
        <span>Uploaded by: </span><em>{{sample.get_source_worker}}</em>
        {% endif %}
        <p><a href="{{sample.url}}">Go to url</a></p>
        <p><h3>Voting stats</h3></p>
        <span class="badge badge-info badge-yes">
          <i class="icon icon-o"></i>
          <p>{{sample.get_yes_votes}}</p>
        </span>
        <span class="badge badge-info badge-no">
          <i class="icon icon-n"></i>
          <p>{{sample.get_no_votes}}</p>
        </span>
        <span class="badge badge-info badge-broken">
          <i class="icon icon-b"></i>
          <p>{{sample.get_broken_votes}}</p>
        </span>

        <p><h3>Class probability</h3></p>
        <span class="badge badge-info badge-yes">
          <i class="icon icon-o"></i>
        <p>{{ sample.get_yes_probability|floatformat:0 }}%</p>
      </span>
        <span class="badge badge-info badge-no">
          <i class="icon icon-n"></i>
          <p>{{ sample.get_no_probability|floatformat:0 }}%</p>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
        <h3>Sample text</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12">
        <pre>{{sample.text}}</pre>
    </div>
  </div>
{% endblock %}
