{% extends 'main/project/project_base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'overview' %}
{% endblock %}

{% block body-class %}{{ block.super }} body-overview{% endblock %}
{% block overview_active %}active{% endblock %}
{% block project_content %}
 <div class="row">
    <div class="span3">
      <p><h3>Overview</h3></p>
    </div>
  </div>
</div> <!-- end of container main -->
{% if not project.is_draft %}
<div class="content content-accordion">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="container">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <span>Update stream &rsaquo;&rsaquo;</span>
              <div class="pull-right accordion-notify">
                <span class="show ">show<i class=""></i></span>
                <span class="hide ">hide<i class=""></i></span>
              </div>
            </a>
          </div>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div id="updates-box" class="row" data-bind="foreach: alerts">
                    <div class="update-box span3">
                      <div class="box-img">
                        <img data-bind="visible: hasScreenshot, attr: {src: screenshot}" class="">
                      </div>
                      <div class="box-inner">
                        <span class="box-header" data-bind="text: title"></span>
                        <span class="box-content" data-bind="html: content"></span>
                        <span data-bind="visible: hasWorker">by <a data-bind="attr: {href: workerURL}, text: workerName"></a></span>
                        <span data-bind="text: time_ago" class="date"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}
<div class="container container-main2" role="main">
  <div class="row">
    <div class="table-container-anno3 span12">
      <h3>Basic informations</h3>
      <div class="table-wrapper table-infoboxes">
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3 data-bind="text: urls_collected">{{urls_collected}}</h3>
          <span>URLs collected</span>
        </div>
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3 data-bind="text: votes_gathered">{{votes_gathered}}</h3>
          <span>Votes gathered</span>
        </div>
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3 data-bind="text: no_of_workers">{{no_of_workers}}</h3>
          <span>Number of workers</span>
        </div>
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3 data-bind="text: budget">{{budget}}</h3>
          <span>Budget (USD)</span>
        </div>
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3><span data-bind="text: progress_urls">{{progress_urls}}</span>%</h3>
          <span>Collecting urls progress</span>
        </div>
        <div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
          <h3><span data-bind="text: progress_votes">{{progress_votes}}</span>%</h3>
          <span>Collecting votes progress</span>
        </div>
        {% if not project.is_draft %}
        <div class="row">
          <div class="span4 chart-container" id="votesGraph">
          </div>
          <div class="span4 chart-container" id="urlGraph">
          </div>
          <div class="span4 chart-container" id="performanceGraph">
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if project.is_draft %}
    <div class="row">
      <div class="span12">
        <p>Your project is in a <b>draft</b> state. Once the payment is confirmed, it's status will change to <b>Initializing</b>.</p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="span6 ">
        <div class="table-container-anno1 newest-corrected">
          <h3>Newest Correct Voted Data</h3>
          <div class="table-wrapper">
            <table class="table fix">
              <thead>
                <tr>
                  <th class="preview">Preview</th>
                  <th class="url">URL</th>
                  <th class="tiny-col">Added on</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: newest_votes">
                <tr>
                  <td class="preview">
                    <a data-bind="attr: {href: screenshot}"><img data-bind="attr: {src: screenshot}"></a>
                  </td>
                  <td class="url"><a data-bind="attr: {href: sample_url}, text: url"></a></td>
                  <td class="tiny-col" data-bind="text: date"></td>
                </tr>
              </tbody>
              <tbody data-bind="ifnot: has_newest_votes">
                <tr>
                  <td colspan="3">No data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="table-container-anno1">
          <h3>Top workers</h3>
          <div class="table-wrapper">
            <table class="table fix">
              <thead>
                <tr>
                  <th>Worker name</th>
                  <th class="tiny-col">Urls collected</th>
                  <th class="tiny-col">Votes added</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: top_workers">
                <tr>
                  <td><a href="#" data-bind="attr: {href: worker_url}, text: name"></a></td>
                  <td class="tiny-col" data-bind="text: urls_collected"></td>
                  <td class="tiny-col" data-bind="text: votes_added"></td></tr>
              </tbody>
              <tbody data-bind="ifnot: has_top_workers">
                <tr>
                  <td colspan="3">No data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif%}
{% endblock %}


{% block workface_block%}
<div class="row">
  <div class="span-full">
    {% include 'main/project/own_workforce_links.html' %}
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript' src='{{STATIC_URL}}js/knockout-2.1.0.js'></script>
<script src="{{STATIC_URL}}js/models/job.js" type="text/javascript"></script>
{% if not project.is_draft %}
<script src="{{STATIC_URL}}js/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">

var progressGraph;
var urlGraph;
var performanceGraph;
var votesColor = '#3a4354';
var urlColor = '#c79155';
var performanceColor = '#e0b25d';
$(document).ready(function() {
  votesGraph = new Highcharts.Chart({
     chart: {
        renderTo: 'votesGraph',
        zoomType: 'x',
        type: 'line'
     },
     title: {
        text: 'Votes per hour'
     },
     xAxis: {
        type: 'datetime',
        maxZoom: 1 * 3600 * 1000, // an hour
     },
     yAxis: {
        title: {
          showEmpty:false,
          text: ''
        },
        min: 0,
        showFirstLabel: false,
        allowDecimals: false,
     },
     series: [{
        showInLegend: false,
        name: 'Votes',
        color: votesColor,
        data: [{{votes_stats|safe}}]
     }]
  });
  urlGraph = new Highcharts.Chart({
     chart: {
        renderTo: 'urlGraph',
        zoomType: 'x',
        type: 'line'
     },
     title: {
        text: 'URLs per hour'
     },
     xAxis: {
        type: 'datetime',
        maxZoom: 1 * 3600 * 1000, // an hour
     },
     yAxis: {
        title: {
          text: ''
        },
        min: 0,
        showFirstLabel: false,
        allowDecimals: false,
     },
     series: [{
        showInLegend: false,
        name: 'URLs',
        color: urlColor,
        data: [{{url_stats|safe}}]
     }]
  });
  performanceGraph = new Highcharts.Chart({
     chart: {
        renderTo: 'performanceGraph',
        zoomType: 'x',
        type: 'line'
     },
     title: {
        text: 'Performance per hour'
     },
     xAxis: {
        type: 'datetime',
        maxZoom: 1 * 3600 * 1000, // an hour
     },
     yAxis: {
        title: {
          text: ''
        },
        min: 0,
        max: 100,
        showFirstLabel: false
     },
     series: [{
        showInLegend: true,
        name: 'TPR',
        color: '#FFAAFF',
        data: [{{performance_TPR|safe}}]
     },
     {
        showInLegend: true,
        name: 'TNR',
        color: '#AAAAFF',
        data: [{{performance_TNR|safe}}]
     },
     {
        showInLegend: true,
        name: 'AUC',
        color: performanceColor,
        data: [{{performance_AUC|safe}}]
     }]
  });
});

</script>
{% endif %}

<script type="text/javascript">
var job = new job();
job.urls_collected({{ urls_collected }});
job.votes_gathered({{ votes_gathered }});
job.budget({{ budget }});
job.progress_urls({{ progress_urls }});
job.progress_votes({{ progress_votes }});
job.no_of_workers({{ no_of_workers }});

var image_cache = {};

function updateAlerts(url){
  $.get(url+'?limit=4&format=json', function(data){
    new_alerts = [];
    // Expire cache
    $.each(image_cache, function(idx, val){
      val['active'] = false;
    })

    $.each(data['objects'], function(idx, val){
      box = val['box'];
      new_alerts.push(new alert_view(box['Image_url'], box['By_id'], box['By'], box['Title'], box['Text'], {{project.id}}, val['timedelta']));
      if (!(box['Image_url'] in image_cache)){
        img = new Image();
        img.src = box['Image_url'];
        image_cache[box['Image_url']] = {
          'img': img,
          'active': true,
        }
      } else
        image_cache[box['Image_url']]['active'] = true;
    });

    var new_cache = {};
    $.each(image_cache, function(idx, val){
      if (val['active'])
        new_cache[idx] = val;
    });
    image_cache = new_cache

    job.alerts(new_alerts);
  });
}

function updateTopWorkers(workers){
  new_workers = [];
  $.each(workers, function(key, val){
    new_worker = new worker();
    new_worker.id(val['id']);
    new_worker.urls_collected(val['urls_collected']);
    new_worker.name(val['worker']['name']);
    new_worker.hours_spent(val['hours_spent']);
    new_worker.votes_added(val['votes_added']);
    new_worker.earned(val['earned']);
    new_worker.start_time(val['start_time']);
    new_worker.job_id({{project.id}});
    new_workers.push(new_worker);
  });
  job.top_workers(new_workers);
}

function updateNewestVotes(votes){
  new_votes = [];
  $.each(votes, function(key, val){
    new_vote = new vote();
    new_vote.screenshot(val['screenshot']);
    new_vote.url(val['url']);
    new_vote.added_on(val['added_on']);
    new_vote.date(val['date']);
    new_vote.label(val['label'])
    new_vote.sample_url(val['sample_url'])
    new_votes.push(new_vote);
  });
  job.newest_votes(new_votes);
}

function updateJob(){
  $.get("/api/v1/job/{{project.id}}/?format=json", function(data){
    job.urls_collected(data['urls_collected']);
    job.progress(data['progress']);
    job.hours_spent(data['hours_spent']);
    job.budget(data['budget']);
    job.cost(data['cost']);
    job.no_of_workers(data['no_of_workers']);
    job.gather_url(data['sample_gathering_url']);
    job.vot_url(data['sample_voting_url']);
    job.progress_urls(data['progress_urls']);
    job.progress_votes(data['progress_votes']);
    job.votes_gathered(data['votes_gathered']);
    updateAlerts(data['feed']);
    updateTopWorkers(data['top_workers']);
    updateNewestVotes(data['newest_votes']);
  });
}

$(document).ready(function(){
  ko.applyBindings(job);
  updateJob();
  setInterval(updateJob, 10 * 1000);
  $('.accordion-toggle').click(function(){
    if( $('#collapseOne').hasClass('in') ) {
      $(this).addClass('collapsed');
    } else {
      $(this).removeClass('collapsed');
    }
  })
});
</script>
{% endblock %}
