{% extends 'main/project/project_base.html' %}

{% block overview_active %}active{% endblock %}
{% block project_content %}
<div class="row-fluid">
<div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
  <h3>0</h3>
  <span>URLs collected</span>
</div>
<div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
  <h3>0</h3>
  <span>Hours spend</span>
</div>
<div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
  <h3>0</h3>
  <span>Number of workers</span>
</div>
<div class="span2 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
  <h3>0</h3>
  <span>Cost (USD)</span>
</div>
<div class="span2 infobox">
  <h3>0</h3>
  <span>Budget (USD)</span>
</div>
<div class="span1 infobox{% if project.is_draft%} infobox-disabled{%endif%}">
  <h3>0%</h3>
  <span>Progress</span>
</div>
</div>
<div class="row-fluid">
<hr>
</div>
<div class="row-fluid">
{% include 'main/project/own_workforce_links.html' %}
</div>
{% if project.is_draft %}
<div class="row-fluid">
    <p>Please review your project before starting.</p>
    <p>In order to start the project click "Activate project" on the right project submenu.</p>
</div>
{% else %}
<div class="row-fluid">
<div class="span3">
    Progress per hour
</div>
<div class="span3">
    Spent per hour
</div>
<div class="span3">
    URLs collected per hour
</div>
<div class="span3">
    Classifier performance per hour
</div>
</div>
<div class="row-fluid">
<div style="width: 20%; float: right;">Updates<br>More updates<br>Even more updates<br>And updates</div>
<div style="width:80%">
  <h3>Newest Correct Voted Data</h3>
  <table class="table">
    <thead>
      <tr><td>Preview</td><td>URL</td><td>Added on</td></tr>
    </thead>
    <tbody>
      <tr><td>P</td><td>URL</td><td>Datetime</td></tr>
    </tbody>
  </table>
  <hr>
</div>
<div style="width:80%">
  <h3>Top workers</h3>
  <table class="table">
    <thead>
      <tr><td>Worker name</td><td>Links collected</td><td>Hours Spent</td></tr>
    </thead>
    <tbody>
      <tr><td>Luke Vader</td><td>542</td><td>3</td></tr>
    </tbody>
  </table>
</div>
</div>
{% endif%}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
div.status-active {
  background-color: #DFF0D8;
}
div.status-completed {
  background-color: #F7F7F9;
}
div.status-draft {
  background-color: #FCF8E3;
}
div.status-stopped {
  background-color: #F2DEDE;
}
div.infobox {
  text-align: center;
  border: 1px solid #E1E1E8;
  border-radius: 4px 4px 4px 4px;
}
div.infobox-disabled {
  background-color: #F7F7F9;
  color: gray;
}
</style>
{% endblock %}
