{% extends 'base.html' %}
{% load compressed %}

{% block title %}Project: {{project.title}}{% endblock %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'project' %}
{% endblock %}

{% block body-class %}body-{{project.get_status|lower}} body-project{% endblock %}

{% block header %}
  {% if not project.is_draft %}

      <div class="pull-right btn-group">
        <a href="{% url project_classifier_data project.id %}" class="btn">Export Training Data</a>
        <!--<a class="btn " data-toggle="modal" href="#closeProjectModal">Close project</a>
        <a class="btn " href="#">Settings</a>-->
        <a class="btn " data-toggle="modal" href="#workface">Own workforce</a>
      </div>
  {% endif %}
  <h2>{{project.title}} </h2><span class="badge badge-{{project.get_status|lower}}">{{project.get_status|lower}}</span>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li class="{%block overview_active%}{%endblock%}"><a href="{% url project_view id=project.id %}">Overview</a></li>
        <li class="{%block workers_active%}{%endblock%}"><a href="{% url project_workers_view id=project.id %}">Workers</a></li>
        <li class="{%block data_active%}{%endblock%}"><a href="{% url project_data_view id=project.id %}">Data</a></li>
        <li class="{%block classifier_active%}{%endblock%}"><a href="{% url project_classifier_view id=project.id %}">Classifier</a></li>
        <li class="{%block btm_active%}{%endblock%}"><a href="{% url project_btm_view id=project.id %}">Beat the Machine</a></li>
      </ul>
    </div>
  </div>
  {% block project_content %}
  {% endblock %}
<div id="closeProjectModal" class="modal hide">
    <div class="modal-body">
        Are you sure you would like to stop this project? After you stop a project it can not be relaunched anymore.
    </div>
    <div class="modal-footer">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{project.id}}">
            <input type="submit" name="submit" value="Close project" class="btn btn-primary">
            <button class="btn" data-dismiss="modal" href="#">Cancel</button>
        </form>
    </div>
</div>
<div id="workface" class="modal hide">
    <div class="modal-body">
        {% block workface_block %}
          {% include 'main/project/own_workforce_links.html' %}
        {% endblock %}
    </div>
</div>
{% endblock %}