{% extends 'base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'wizard' %}
{% endblock %}

{% block body-class %}{{ block.super }} body-wizard{% endblock %}

{% block main %}

<div class="container">
  <div class="row alert-container">
    <div class="span12">
      {% if wizard_error %}
        <div class="alert alert-error  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_error }}
        </div>
      {% endif %}
      {% if wizard_success %}
        <div class="alert alert-success  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_success }}
        </div>
      {% endif %}
      {% if wizard_alert %}
        <div class="alert  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_alert|safe }}
        </div>
      {% endif %}
      {% include 'main/project/wizard-form-error.html' with form=topic_form %}
      {% include 'main/project/wizard-form-error.html' with form=attributes_form %}
      {% include 'main/project/wizard-form-error.html' with form=additional_form %}
    </div>
  </div>
  <form method="POST" action="#" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
    <div class="well span6 offset3" style="background:none;">

      <h2>Project creator</h2>
      <hr>

      <h3>Topic</h3>
      <h5>Please provide job topic and description</h5>
      <br>

        <fieldset>
          {% include 'form.html' with form=topic_form %}
        </fieldset>

        <h3>Attributes</h3>
        <h5>Please choose source and number of URLs to collect</h5>
        <br>

        <fieldset>
          {% include 'form.html' with form=attributes_form %}
        </fieldset>

        <h3>Additional attributes</h3>
        <h5>Please set additional attributes for better quality of gathered URLs</h5>
        <br>

        <fieldset>
          {% include 'form.html' with form=additional_form %}
        </fieldset>

        <h3>Cost and payment</h3>
        <h5>Paiment is necessary to start new job</h5>
        <br>

        <fieldset>
          <div class="control-group ">
            <label class="control-label">
              Cost of classifier [USD]
            </label>
            <div class="controls">
              <input type="text" name="estimated_cost" id="id_estimated_cost" disabled>
              <span style="display: block;">
                This cost is calculated base on previous parameters.
              </span>
            </div>
          </div>
          <div class="control-group ">
            <label class="control-label">
              Payment
            </label>
            <div class="controls">
              <script src="https://checkout.stripe.com/v2/checkout.js"></script>

              <button id="id_stripe_button" class="stripe-button-el"
                style="visibility: visible;"><span>Pay with Stripe</span></button>

              <input type="text" name="stripeToken" id="id_stripe_token"
                value="" style="display: none;">

              <script>
                $('#id_stripe_button').click(function(e){
                  var token = function(res){
                    $("#id_stripe_token").val(res.id);
                    $("#id_payment_done").show();
                    $('#id_stripe_button').text('Payment done');
                    $('#id_stripe_button').attr('disabled', 'disabled');
                    switchActivate(true);
                  };
                  // Amount in cents
                  var amount = parseFloat($("#id_estimated_cost").val()) * 100;
                  if (amount === NaN || amount <= 0)
                    return false;

                  StripeCheckout.open({
                    key:         '{{ stripe_key }}',
                    panelLabel:  'Pay',
                    amount:      amount,
                    token:       token
                  });

                  return false;
                });
              </script>

              <span id="id_payment_done" style="display: none;">
                Thank you for payment.
              </span>
            </div>
          </div>
        </fieldset>

      <div class="form-actions">
        <div class="gradient"></div>
        <div class="custom-offset">
          <button id="id_activate" class="btn btn-success span disabled" type="submit"
            name="submit" value="active" disabled="disabled">Activate & Create Project</button>
        </div>
      </div>
  <div class="modal hide" id="oDeskModal">
    <div class="modal-body">Marketing stuff</div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

var free_sources = [{{ free_sources }}];

function switchActivate(enable)
{
  var el = $("#id_activate");
  if (enable)
  {
    el.removeAttr("disabled");
    el.removeClass("disabled");
  } else {
    el.attr("disabled", "disabled");
    el.addClass("disabled");
    $('#id_stripe_button').text('Pay with Stripe');
    $('#id_stripe_button').removeAttr('disabled');
    $('#id_payment_done').hide();
  }
}

var estimate_costs = function () {
  var no_of_urls = $("#id_no_of_urls").val();
  var data_source = $("#id_data_source").val();
  $.get('/api/v1/job/estimate/?format=json',
    {no_of_urls: no_of_urls, data_source: data_source},
    function(data){
      $("#id_estimated_cost").val(data.cost);
      if ($.inArray(parseInt(data_source), free_sources) != -1) {
        switchActivate(true);
      } else {
        switchActivate(false);
      }
    }
  ).error(function(){switchActivate(false)});
};

$("#id_no_of_urls").change(function () {
  estimate_costs();
});

$('#id_data_source').change(function(obj){
  estimate_costs();
});

$(function(){
  estimate_costs();
  setTimeout("$('.alert-error').css('display', 'none');", 30*1000);
  $('.pop').tooltip();
});
</script>
{% endblock %}

{% block timeout %}{% endblock %}
