{% extends 'base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'wizard' %}
{% endblock %}

{% block body-class %}{{ block.super }} body-wizard{% endblock %}

    {% block header %}
      <h2>Project creator</h2>
    {% endblock %}

{% block main %}
<div class="container">
  <div class="row alert-container">
    <div class="span12">
      {% if wizard_error %}
        <div class="alert alert-error  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_error }}
        </div>
      {% endif %}
      {% if wizard_success %}
        <div class="alert alert-success  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_success }}
        </div>
      {% endif %}
      {% if wizard_alert %}
        <div class="alert  ">
          <button class="close" data-dismiss="alert">×</button>
          {{ wizard_alert|safe }}
        </div>
      {% endif %}
      {% include 'main/project/wizard-form-error.html' with form=topic_form %}
      {% include 'main/project/wizard-form-error.html' with form=attributes_form %}
      {% include 'main/project/wizard-form-error.html' with form=additional_form %}
    </div>
  </div>
  <form method="POST" action="#" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="span12">
        <h4>Topic</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span11">
        <fieldset>
          {% include 'form.html' with form=topic_form %}
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span12">
         <h4>Attributes</h4>
        <hr/>
       </div>
    </div>
    <div class="row">
      <div class="offset1 span11">
        <fieldset>
          {% include 'form.html' with form=attributes_form %}
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h4>Additional attributes</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span11">
        <fieldset>
          {% include 'form.html' with form=additional_form %}
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h4>Cost and payment</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span11">
        <fieldset>
          <div class="control-group ">
            <label class="control-label" for="id_same_domain">
              Cost of classifier [USD]
            </label>
            <div class="controls">
              <input type="text" name="estimated_cost" id="id_estimated_cost" disabled>
              <span style="display: block;">
                This cost is calculated base on previous parameters.
              </span>
            </div>
          </div>
          <div class="control-group ">
            <label class="control-label" for="id_same_domain">
              Payment
            </label>
            <div class="controls">
              <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
                      data-key="pk_NjMf2QUPtR28Wg0xmyWtepIzUziVr"
                      data-amount="5000"
                      data-label="Pay with Stripe"></script>
              <span id="id_payment_done" style="display: none;">
                Thank you for payment.
              </span>
              <script type="text/javascript" charset="utf-8">
                $('.stripe-button').bind('token', function(e, token){
                  $("#id_payment_done").show();
                  $("#id_activate").removeAttr("disabled")
                });
              </script>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="form-actions">
        <div class="gradient"></div>
        <div class="custom-offset">
          <button class="btn-link" type="submit" name="submit" value="draft">Save as Draft</button>
          <button id="id_activate" class="btn btn-success span" type="submit"
            name="submit" value="active" disabled="disabled">Activate & Create Project</button>
        </div>
      </div>
    </div>
  <div class="modal hide" id="oDeskModal">
    <div class="modal-body">Marketing stuff</div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$('#id_data_source').change(function(obj){
        var index = $('#id_data_source').val();
        if (index == 1) {
            $('#id_project_type').parent().parent().css('display', 'none')
            $('#id_no_of_urls').parent().parent().css('display', '')
            $('#id_hourly_rate').parent().parent().css('display', 'none')
            $('#id_budget').parent().parent().css('display', 'none')
        } else {
            $('#id_project_type').parent().parent().css('display', '')
            $('#id_project_type').val(0)
            $('#id_project_type').change()
        }
    }
);
$('#id_project_type').change(function(obj){
        var index = $('#id_project_type').val();
        if (index == 0){
            $('#id_no_of_urls').parent().parent().css('display', '')
            $('#id_hourly_rate').parent().parent().css('display', '')
            $('#id_budget').parent().parent().css('display', 'none')
        } else {
            $('#id_no_of_urls').parent().parent().css('display', 'none')
            $('#id_hourly_rate').parent().parent().css('display', 'none')
            $('#id_budget').parent().parent().css('display', '')
        }
    }
);
$('#id_data_source').change();
$(function(){
  setTimeout("$('.alert-error').css('display', 'none');", 30*1000);
  $('.pop').tooltip();
});
</script>
{% endblock %}

{% block timeout %}{% endblock %}
