{% extends 'main/project/project_base.html' %}

{% block workers_active %}active{% endblock %}
{% block project_content %}
  <div class="row-fluid">
    <div class="span2">
      <a href="{% url project_workers_view project.id%}">&lt; Back</a>
    </div>
    <div class="span8">&nbsp;</div>
    <div class="span2" style="text-align:right;">
      <a href="#" class="btn">End contract</a>
    </div>
  </div>
  <div class="row-fluid">
    <h5>Worker name</h5>
    <h3>{{worker.first_name}} {{worker.last_name}}&nbsp;</h3>
  </div>
  <div class="row-fluid">
    <div class="span2 infobox">
      <h3>{{worker.links_collected|length}}</h3>
      URLs collected
    </div>
    <div class="span2 infobox">
      <h3>{{worker.votes_added|length}}</h3>
      Votes
    </div>
    <div class="span2 infobox">
      <h3>{{worker.hours_spent}}</h3>
      Hours spent
    </div>
    <div class="span2 infobox">
      <h3>{{worker.quality}}</h3>
      Quality
    </div>
    <div class="span2 infobox">
      <h3>{{worker.earned}}</h3>
      Money earned (USD)
    </div>
  </div>
  <div class="row-fluid">
    <hr>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h3>Statistics</h3>
      <div id="urlGraph"></div>
    </div>
    <div class="span9">
      <h3>More information</h3>
      <table id="more-information">
        <thead></thead>
        <tbody>
          <tr><td>Work since</td><td>{{worker.work_started}}</td></tr>
          <tr><td>Projects worked on</td><td>{{worker.projects}}</td></tr>
          <tr><td>Status</td><td>{{worker.status}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <hr>
  </div>
  <div class="row-fluid">
    Other content
  </div>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
table#more-information td:first-child {
  width: 140px;
  text-align: right;
  padding-right: 10px;
} 
</style>
{% endblock %}
