{% extends 'main/project/project_base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'workers' %}
{% endblock %}

{% block body-class %}body-{{project.get_status|lower}} body-workers{% endblock %}

{% block workers_active %}active{% endblock %}
{% block project_content %}
  <div class="row">
    <div class="span3">
      <p><h3>Workers</h3></p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="table-container-anno1">
        <h3>Workers stats</h3>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th>Worker name</th>
                <th style="width: 100px">Votes added</th>
                <th style="width: 100px">URLs collected</th>
              </tr>
            </thead>
            <tbody>
              {% if workers %}
              {% for worker in workers %}
                <tr>
                  <td><a href="{% url project_worker_view project.id worker.id%}">{{worker.name}}</a></td>
                  <td>{{worker.votes_added}}</td>
                  <td>{{worker.urls_collected}}</td>
                </tr>
              {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4">No data</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
