{% extends 'main/project/project_base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'workers' %}
{% endblock %}

{% block body-class %}body-{{project.get_status|lower}} body-workers{% endblock %}

{% block workers_active %}active{% endblock %}
{% block project_content %}
  <div class="row">
    <div class="span3">
      <p><h3>Workers</h3></p>
    </div>
  </div>
  <div class="row">
    <div class="table-container-anno1 span12">
      <h3>Workers stats</h3>
      <div class="table-wrapper">
        <div class="span3 sidebar-nav" style="margin-left: 0px">
        </div>
        <div class="span8" id="workers-table">
          <img src="{{STATIC_URL}}img/spinner-big.gif" class="offset2">
        </div>
      </div>
    </div>
    {% csrf_token %}
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
var job_id = {{project.id}};
var csrftoken;

$.ready(function(){
  csrftoken = $("input[type=hidden][name=csrfmiddlewaretoken]")[0].value();
});
</script>
{% compressed_js "workers_crud" %}
{% endblock %}
