<form class="form-vertical" data-validate="ketchup"
<fieldset>
    <div class="question-group">

    <h2>Beat the machine <span class="sample-counter"></span></h2>

    <div style="max-width: 50%; word-wrap: break-word;">

        <h3>Gathered points <span class="sample-points"></span></h3>

        <h3>Accepted urls:</h3>
        <ul class="samples">
        </ul>

        <div class="controls">
            <input class="new-sample" class="input input-xlarge required" type="text" name="sample" >
        </div>

        <input class="add-new-sample" type="button" value="Add">

        <div class="sample-error" style="color: red;"></div>

        <div class="validated-urls" style="display: none;"></div>

    </div>

    </div>
</fieldset>
</form>
