<form class="form-vertical" data-validate="ketchup" style="display: none;">
<fieldset>
    <div class="question-group">
        <h2>btm urls</h2>
        <div class="validated-urls"></div>
    </div>
</fieldset>
</form>

<div class="additional-instruction" style="display: none;">
    <br><br>

    <div style="max-width: 50%; word-wrap: break-word;">
    <p style="font-weight:bold;">Your input will be verified by other, trusted
    humans, and you will receive the bonus payment only if your submission
    indeed belongs to the correct category.<p>

    <p>The URLs that you submit will be used to examine the
    accuracy of our automatic classifier.</p>

    <p>You get more bonus points if you
    submit URLs that are not in our database and trick our classifier to
    classify the URL into the incorrect category. So, the better you are in
    "beating the machine", the more bonus points you get.</p>

    <p>Remeber <%= points_to_cash %> bonus points = 1$.</p>
    </div>
</div>

<div class="additional-notification" style="display: none;">
    <div style="max-width: 50%;">
        <div style="float: right; border: 1px solid black; padding: 5px;">
            You've gathered
            <span class="points"><%= gathered_points %></span> bonus points and
            <span class="pending"><%= pending_verification %></span> pending
            verification.
        </div>
    </div>
</div>

<h2>Enter urls matching description <span class="sample-counter"></span></h2>

<div style="max-width: 50%; word-wrap: break-word;">

    <h3>You can recieve up to <span class="sample-points">0</span> points for submitted urls</h3>

    <div class="controls" >
        <input class="new-sample" class="input input-xlarge required" type="text" name="sample" >
    </div>

    <input class="add-new-sample" type="button" value="Add" >
    <img class="spinner" src="http://buildaclassifier.com/statics/img/spinner.gif" style="display: none;">

    <h3>Accepted urls:</h3>
    <ul class="samples">
    </ul>

    <div class="sample-error" style="color: red;"></div>

</div>

