<form class="form-vertical" data-validate="ketchup"
<fieldset>
    <div class="question-group">

    <h2>Beat the machine</h2>
    <h3 class="sample-counter"></h3>

    <ul class="samples">
    </ul>

    <label class="control-label" for="new_sample">New</label>

    <div class="controls">
        <input class="new-sample" class="input input-xlarge required" type="text" name="sample" >
        <select class="expected-label">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
    </div>

    <input class="add-new-sample" type="button" value="Add">

    <div class="validated-urls" style="display: none;"></div>

    </div>
</fieldset>
</form>
