<form class="form-vertical" data-validate="ketchup"
<fieldset>
    <div class="question-group">

    <h2>Enter web page urls matching instructions <span class="sample-counter"></span></h2>

    <ul class="samples">
    </ul>

    <div class="controls">
        <input class="new-sample" class="input input-xlarge required" type="text" name="new-sample" >
    </div>

    <input class="add-new-sample" type="button" value="Add Url">

    <div class="validated-urls" style="display: none;"></div>

    </div>
</fieldset>
</form>
