<form class="form-vertical" data-validate="ketchup"
<fieldset>
    <div class="question-group">
    <h2>Enter url samples</h2>

    <ul class="samples">
    </ul>

    <label class="control-label" for="new_sample">New</label>

    <div class="controls">
        <input class="new-sample" class="input input-xlarge required" type="text" name="new-sample" >
    </div>

    <input class="add-new-sample" type="button" value="Add">

    <div class="validated-urls" style="display: none;"></div>

    </div>
</fieldset>
<input class="submit-samples" type="button" value="Submit">
</form>
