{% extends 'base.html' %}

{% block header %}
  <h2>Projects</h2>
{% endblock %}

{% block main %}
  {% if user.is_authenticated %}
    <div class="row">
      {% if projects %}
        <div class="span12">
          <table class="table" style="width:100%">
            <thead>
              <tr>
                <th>Project name</th>
                <th>Status</th>
                <th>Data source</th>
                <th>Beat the machine</th>
                <th>URLs collected</th>
                <th>Budget (USD)</th>
                <th>Classifier performance</th>
                <th>Progress</th>
              </tr>
            </thead>
            <tbody>
            {% for p in projects %}
              <tr>
                <td><a href="{% url project_view id=p.id %}">{{p.title}}</a> <a rel="tooltip" href="#" data-original-title="{{p.description}}">&nbsp;<i class="icon-info-sign"></i></a></td>
                <td class="statusCol">{{p.get_status}}</td>
                <td class="dataSourceCol">{{p.get_data_source}}</td>
                <td class="beatMachineCol">{{p.get_btm_status}}</td>
                <td class="linksCol">{{p.get_urls_collected}}</td>
                <td class="budgetCol">{{p.budget}}</td>
                <td class="classfierCol">{{p.get_classifier_performance}}%</td>
                <td class="progressCol">{{p.get_progress}}%</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div id="nothing-to-display" class="offset5 span4" style="font-size:120%; font-weight:bold">There's no projects. Create <a href="{% url project_wizard %}">new</a>!</div>
      {% endif %}
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="offset2 span8">
            <p>This service allows you to generate algorithm that will be able to recognize sites that match given description. For example you could be interested in sites about cars or badgers :) </p>

            <p>What happens under the hood is quite complex but for user it's quite simple and focuses on creating proper description of the websites that you are interested. As a user, all you have to do is to prepare description in form:<br/>
            “I would like to find websites about badgers. They should be sites with their descriptions and behaviors. I'm not interested in blog sites or any sites that could be subjective.”
            Description that you provide will be presented to other people so keep that in mind to make it simple and clear.<p>


            <p>Next, we take that description and using oDesk and Tagasauris we ask many people to give us examples of sites that matches your description. When we gather enough number of such websites (you can specify how much) we validate it using project named Troia. It is cutting edge algorithm that can tell which workers that were providing description were doing their job good and which ones were doing it badly. After deciding on which URLs are useful we put them into classification algorithm. It will be trained on such URLs and after that it should be able to recognize sites that match that your description.<p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(function() {
      $('a[rel=tooltip]').tooltip({placement: 'right'});
    });
  </script>
{% endblock %}
