{% extends 'base.html' %}

{% block main %}
{% if user.is_authenticated %}
<div class="row-fluid">
  <h2>Projects</h2>
</div>
<div class="row-fluid">
  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Status</th>
        <th>Beat the machine</th>
        <th>Links collected</th>
        <th>Hours spent</th>
        <th>Total cost (USD)</th>
        <th>Budget (USD)</th>
        <th>Classifier performance</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
    {% for p in projects %}
      <tr>
        <td><a href="{% url project_view id=p.id %}">{{p.title}}</a> <a rel="tooltip" href="#" data-original-title="{{p.description}}">(i)</a></td>
        <td class="statusCol">{{p.get_status}}</td>
        <td class="beatMachineCol">--</td>
        <td class="linksCol">{{p.get_urls_collected}}</td>
        <td class="hoursSpentCol">{{p.get_hours_spent}}</td>
        <td class="totalCostCol">{{p.get_cost}}</td>
        <td class="budgetCol">{{p.budget}}</td>
        <td class="classfierCol">{{p.get_classifier_performance}}</td>
        <td class="progressCol">{{p.get_progress}}%</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if not projects %}
    <span class="span5">&nbsp;</span>
    <span id="nothing-to-display" class="span4" style="font-size:120%; font-weight:bold">Nothing to display here.</span>
    <span class="span3">&nbsp;</span>
  {% endif %}
</div>
{% else %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">&nbsp;</div>
    <div class="span8">
    {% include 'main/login_form.html' %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
td.progressCol {
  width: 30px;
}
td.classfierCol {
  width: 30px;
}
td.budgetCol {
  width: 70px;
}
td.totalCostCol {
  width: 70px;
}
td.hoursSpentCol {
  width: 70px;
}
td.linksCol {
  width: 90px;
}
td.beatMachineCol {
  width: 40px;
}
td.statusCol {
  width: 90px;
}
</style>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$('a[rel=tooltip]').tooltip({placement: 'right'})
</script>
{% endblock %}
