{% extends 'base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'accounts' %}
{% endblock %}
{% block title %}Password reset{% endblock %}

{% block header %}
{% endblock %}


{% block body-class%}body-reset{% endblock %}
{% block main %}
<div class="container container-reset">
  <div class="well span7 offset2">
    <div class="row">
      <div class="span">
        <form method="POST" action="" class="form form-horizontal">
          <legend>Password reset</legend>
          <fieldset>
        <p>Please input the e-mail address you have used in URL annotator.</p>
        <p>Reset password link with instructions will be sent to that e-mail address.</p>

            {% csrf_token %}
            {% include 'form.html' %}
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Reset password</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}