{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">
  <div class="row-fluid">
    <h2>Password reset</h2>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <p>Please input the e-mail address you have used in URL annotator.</p>
      <p>Reset password link with instructions will be sent to that e-mail address.</p>
    </div>
  </div>
  <div class="row-fluid">
    <form method="POST" action="" class="form form-horizontal">
      <fieldset>
        {% csrf_token %}
        {% include 'form.html' %}
        <div class="form-actions">
          <button class="btn" type="submit">Reset password</button>
        </div>
      </fieldset>
  </div>
</div>
{% endblock %}
