{% extends 'base.html' %}
{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'accounts' %}
{% endblock %}

{% block title %}Settings{% endblock %}

{% block body-class %}body-settings{% endblock %}

{% block header %}
  <h2>Settings</h2>
{% endblock %}

{% block main %}

<div class="container">

    <div class="row">

        <div class="well span6 offset3" style="background:none;">

            <h2>Settings</h2>

            <hr>
            
            <h3>General</h3>
            <h5>Change your full name</h5>
            <br>

            <form method="POST" action="#" class="form form-horizontal">
                <fieldset>
                {% csrf_token %}
                {% include 'form.html' with form=general_form %}
                <div class="form-actions">
                    <button class="btn" type="submit" name="submit" value="general">Save Changes</button>
                </div>
                </fieldset>
            </form>

            {% if password_form %}

            <h3>Password</h3>
            <h5>Change your password. This functionality can be disabled when you are logged via google or other social services.</h5>
            <br>

            <form method="POST" action="#" class="form form-horizontal">
                <fieldset>
                {% csrf_token %}
                {% include 'form.html' with form=password_form %}
                <div class="form-actions">
                  <button class="btn" type="submit" name="submit" value="password">Save Changes</button>
                </div>
                </fieldset>
            </form>

            {% endif %}

            <h3>Alerts setup</h3>
            <h5>Change the way you will be informed about changes.</h5>
            <br>

            <form method="POST" action="#" class="form form-horizontal">
                <fieldset>
                {% csrf_token %}
                {% include 'form.html' with form=alerts_form %}
                <div class="form-actions">
                    <button class="btn" type="submit" name="submit" value="alerts">Save Changes</button>
                </div>
                </fieldset>
            </form>

            <h3>Connected applications</h3>
            <h5>Connect with social application to make log in easier</h5>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <td>Application</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="icon icon-twitter"></i> Twitter</td>
                        <td id="twitter-status">{% if twitter %}<b>Connected</b>, {{twitter.uid}}</td><td><a style="padding:0px" href="{% url socialauth_disconnect 'twitter' %}">Disconnect</a></td>{%else%}<b>Not connected</b></td><td><a style="padding:0px" href="{% url socialauth_begin 'twitter' %}">Connect</a></td>{%endif%}
                    </tr>
                    <tr>
                        <td><i class="icon icon-google-plus"></i> Google</td>
                        <td id="google-status">{% if google %}<b>Connected</b>, {{google.uid}}</td><td><a style="padding:0px" href="{% url socialauth_disconnect 'google-oauth2' %}">Disconnect</a></td>{%else%}<b>Not connected</b></td><td><a style="padding:0px" href="{% url socialauth_begin 'google-oauth2' %}">Connect</a></td>{%endif%}
                    </tr>
                    <tr>
                        <td><i class="icon icon-facebook"></i> Facebook</td>
                        <td  id="facebook-status">{% if facebook %}<b>Connected</b>, {{facebook.uid}}</td><td><a style="padding:0px" href="{% url socialauth_disconnect 'facebook' %}">Disconnect</a></td>{%else%}<B>Not connected</b></td><td><a style="padding:0px" href="{% url socialauth_begin 'facebook' %}">Connect</a></td></td>{%endif%}
                    </tr>
                </tbody>
            </table>

</div></div>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
$(function(){
    $('.accordion').on('show hide', function(e){
        console.log("aa");
        $(e.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-arrow-down icon-arrow-up', 200);
    });

});

</script>

{% endblock %}