{% if form.non_field_errors %}
  {% for err in form.non_field_errors %}
    <div class="alert alert-error">{{err}}</div>
  {% endfor%}
{% endif %}
{% for field in form %}
<div class="control-group {%if field.errors%}error{%endif%}">
    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }} </label>
    <div class="controls">
    {{ field }}
    {% if field.errors or field.help_text %}
        <span class="help-inline">
        {% for err in field.errors %}
            {{err}}<br>
        {% endfor %}
        {% if field.help_text %}
            {{ field.help_text|safe }}<br>
        {% endif %}
        </span>
    {% endif %}
    </div>
</div>
{% endfor %}
