.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
table thead * {
  font-size: 11px;
}
.table-container-anno1,
.table-container-anno2,
.table-container-anno3,
.table-container-anno4 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid;
  border-top: 0px none;
  margin-right: -2px;
  margin-bottom: 18px;
}
.table-container-anno1 > h1,
.table-container-anno2 > h1,
.table-container-anno3 > h1,
.table-container-anno4 > h1,
.table-container-anno1 > h2,
.table-container-anno2 > h2,
.table-container-anno3 > h2,
.table-container-anno4 > h2,
.table-container-anno1 > h3,
.table-container-anno2 > h3,
.table-container-anno3 > h3,
.table-container-anno4 > h3,
.table-container-anno1 > h4,
.table-container-anno2 > h4,
.table-container-anno3 > h4,
.table-container-anno4 > h4 {
  color: white;
  padding: 3px 4px 5px 6px;
  font-weight: normal;
  background: url('/statics/img/url_anno_table_strip_pattern.png') repeat-x 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 13px;
}
.table-container-anno1 .table-wrapper,
.table-container-anno2 .table-wrapper,
.table-container-anno3 .table-wrapper,
.table-container-anno4 .table-wrapper {
  margin-top: -3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 6px;
  background: white;
}
.table-container-anno1 .table-wrapper table,
.table-container-anno2 .table-wrapper table,
.table-container-anno3 .table-wrapper table,
.table-container-anno4 .table-wrapper table {
  table-layout: fixed;
}
.table-container-anno1 .table-wrapper table thead *,
.table-container-anno2 .table-wrapper table thead *,
.table-container-anno3 .table-wrapper table thead *,
.table-container-anno4 .table-wrapper table thead * {
  font-size: 11px;
}
.table-container-anno1 {
  border-color: #3a4354;
}
.table-container-anno1 > h1,
.table-container-anno1 > h2,
.table-container-anno1 > h3,
.table-container-anno1 > h4 {
  background-color: #3a4354;
}
.table-container-anno2 {
  border-color: #855759;
}
.table-container-anno2 > h1,
.table-container-anno2 > h2,
.table-container-anno2 > h3,
.table-container-anno2 > h4 {
  background-color: #855759;
}
.table-container-anno3 {
  border-color: #5B4957;
}
.table-container-anno3 > h1,
.table-container-anno3 > h2,
.table-container-anno3 > h3,
.table-container-anno3 > h4 {
  background-color: #5B4957;
}
.table-container-anno4 {
  border-color: #C79155;
}
.table-container-anno4 > h1,
.table-container-anno4 > h2,
.table-container-anno4 > h3,
.table-container-anno4 > h4 {
  background-color: #C79155;
}
table img {
  width: 60px!important;
  height: 45px!important;
  background: url('/statics/img/placeholder_60x45.png') no-repeat 0px 0px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div.navbar .brand {
  margin: 14px 3px 11px 0px;
  padding: 0px 5px 0px 5px;
  background: url('/statics/img/url_anno_nav_logo.png') no-repeat center center;
  width: 168px;
  height: 35px;
}
div.navbar .dropdown .caret {
  margin-top: 18px;
}
div.navbar .navbar-inner {
  background: url('/statics/img/url_anno_header_navbar_bg.png') repeat-x 0px 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.nav li a {
  line-height: 39px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.nav li.active a {
  background-color: transparent;
}
div.navbar .navbar-inner .container div.nav-collapse ul.nav.project li a {
  color: #B99859;
  font-style: italic;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.new-project {
  margin-right: 20px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.new-project a {
  color: white;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 9px;
  margin-top: 12px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.new-project a span.create-icon {
  background: url('/statics/img/url_anno_header_create_icon.png') no-repeat -2px -1px;
  display: block;
  float: left;
  height: 20px;
  width: 24px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown {
  margin-top: 5px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a {
  line-height: 16px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle {
  float: right;
  padding: 0px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle .mail-wrapper {
  text-shadow: none;
  color: #B99859;
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  padding: 25px 10px 13px 9px;
  margin: 0px 10px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle .mail-wrapper .login-desc {
  float: right;
  text-transform: lowercase;
  line-height: 14px;
  font-style: italic;
  margin-right: 10px;
  margin-top: -15px;
  color: #999DA5;
  text-decoration: none;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle .mail-wrapper .mail {
  float: right;
  text-decoration: underline;
  margin-right: 10px;
  color: #E0B25D;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle .down {
  background: transparent url('/statics/img/url_anno_toggle.png') no-repeat -9px 1px;
  width: 10px;
  height: 10px;
  display: none;
  margin-top: 25px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.dropdown a.dropdown-toggle .left {
  background: transparent url('/statics/img/url_anno_toggle.png') no-repeat 1px 1px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-top: 25px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open {
  background: white;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open a.dropdown-toggle .mail-wrapper {
  border-bottom: 1px solid #aaa;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open a.dropdown-toggle .down {
  display: inline-block;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open a.dropdown-toggle .left {
  display: none;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu {
  text-align: left;
  border: 0px none;
  left: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu:before {
  display: none;
  border: 0px none;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu:after {
  display: none;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu li {
  margin-right: 10px;
  float: none;
  padding: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu li a {
  text-decoration: underline;
  text-transform: capitalize;
  padding: 0px;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu li a:hover {
  background-color: white;
  color: #333;
}
div.navbar .navbar-inner .container div.nav-collapse ul.userNav li.open ul.dropdown-menu li:last-child {
  border-bottom: 0px none;
}
div.navbar .navbar-inner .container div.nav-collapse.in {
  background-color: black;
}
div.navbar .bottom-bar {
  background: #e0b25d url('/statics/img/url_anno_header_navbar2_bg.png') no-repeat 0px 0px;
  height: 6px;
  width: 100%;
}
div.navbar:after {
  clear: both;
  padding-bottom: 6px;
}
div.navbar header.header {
  background-color: #F7F7F7;
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 20px;
}
div.navbar header.header h1,
div.navbar header.header h2,
div.navbar header.header h3 {
  font-size: 22px;
  line-height: 40px;
  font-weight: normal;
  display: inline;
}
div.navbar header.header p,
div.navbar header.header span {
  line-height: 40px;
  vertical-align: top;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
html,
body {
  min-width: 1000px;
}
.sidebar-nav {
  padding: 9px 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -61px;
}
.container-main {
  padding-bottom: 61px;
}
.container-main2 {
  padding-bottom: 81px;
}
footer.footer {
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0px;
  color: #075b8d;
  height: 20px;
}
td.progressCol {
  width: 30px;
}
td.classfierCol {
  width: 30px;
}
td.budgetCol {
  width: 70px;
}
td.totalCostCol {
  width: 70px;
}
td.hoursSpentCol {
  width: 70px;
}
td.linksCol {
  width: 90px;
}
td.beatMachineCol {
  width: 40px;
}
td.statusCol {
  width: 90px;
}
.btn-create:hover,
.btn-create:active {
  background-color: #c79155!important;
}
.alert-container {
  position: absolute;
  margin-top: -99px;
}
.alert-container .alert {
  margin-bottom: 6px;
}
