@import '../bootstrap/variables.less';
@import '../bootstrap/mixins.less';
@import 'urlanno-tables.less';
@import 'urlanno-nav.less';

// use 2 space tabulation


html, body {
  height: 100%;
  min-height:100%;
}

html, body {
  min-width:1000px;
}


.sidebar-nav {
  padding: 9px 0;
}


.wrapper {
  min-height:100%;
  margin-bottom:-61px;
}


.container-main {
  padding-bottom:61px;
}
// this fix problems with overlaping footer
.container-main2 {
  padding-bottom:81px;
}


footer.footer {
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0px;
  color: #075b8d;
  height: 20px;
}


td.progressCol {
  width: 30px;
}
td.classfierCol {
  width: 30px;
}
td.budgetCol {
  width: 70px;
}
td.totalCostCol {
  width: 70px;
}
td.hoursSpentCol {
  width: 70px;
}
td.linksCol {
  width: 90px;
}
td.beatMachineCol {
  width: 40px;
}
td.statusCol {
  width: 90px;
}

.btn-create {
  &:hover, &:active {
    background-color: #c79155!important;
  }
}

.alert-container {
  position: absolute;
  margin-top: -99px;
  .alert {
    margin-bottom:6px;
  }
}