.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 950px;
  /* suppose you want minimun width of 1000px */

  width: auto !important;
  /* Firefox will set width as auto */

  width: 950px;
  /* As IE ignores !important it will set width as 1000px; */

}
html,
body {
  height: 100%;
  min-height: 100%;
}
html,
body {
  min-width: 1000px;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -79px;
}
@media (max-width: 979px) {
  header,
  footer.footer {
    margin-right: -60px !important;
  }
}
@media (min-width: 979px) and (max-width: 1000px) {
  header,
  footer.footer {
    margin-right: -20px !important;
  }
}
header.content {
  height: 185px;
}
header.content .content-columns .col-left {
  height: 185px;
  background-color: #3a4354;
  float: left;
  width: 50%;
}
header.content .content-columns .col-left:after {
  clear: both;
}
header.content .content-columns .col-right {
  float: right;
  height: 185px;
  background-color: #e0b25d;
  width: 50%;
}
header.content .content-columns .col-right:after {
  clear: both;
}
header.content .content-colors {
  position: relative;
  top: 0px;
}
header.content .content-colors .container-colors {
  background: transparent url('/statics/img/url_anno_landing_bg.png') repeat-y 0px 0px;
  height: 185px;
}
header.content .content-stripped {
  position: relative;
  top: -185px;
  background: transparent url('/statics/img/url_anno_landing_strips.png') repeat 0px 0px;
  height: 185px;
  width: 100%;
}
header.content .content-login {
  position: relative;
  top: -370px;
  height: 185px;
  width: 100%;
}
header.content .content-login .container-login .brand {
  margin: 12px 0px;
  background: url('/statics/img/url_anno_nav_logo.png') no-repeat center center;
  width: 223px;
  height: 47px;
}
header.content .content-login .container-login .btn-login {
  margin-top: 20px;
  background-color: #735158;
  background-image: -moz-linear-gradient(top, #825659, #5c4957);
  background-image: -ms-linear-gradient(top, #825659, #5c4957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#825659), to(#5c4957));
  background-image: -webkit-linear-gradient(top, #825659, #5c4957);
  background-image: -o-linear-gradient(top, #825659, #5c4957);
  background-image: linear-gradient(top, #825659, #5c4957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#825659', endColorstr='#5c4957', GradientType=0);
  border-color: #5c4957 #5c4957 #31272f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  color: white;
  text-shadow: none;
}
header.content .content-login .container-login .btn-login:hover,
header.content .content-login .container-login .btn-login:active,
header.content .content-login .container-login .btn-login.active,
header.content .content-login .container-login .btn-login.disabled,
header.content .content-login .container-login .btn-login[disabled] {
  background-color: #5c4957;
}
header.content .content-login .container-login .btn-login:active,
header.content .content-login .container-login .btn-login.active {
  background-color: #40323c \9;
}
header.content .content-login .container-login span,
header.content .content-login .container-login .btn-register {
  margin-top: 26px;
  margin-left: 10px;
  font-size: 14;
}
header.content .content-login .container-login .span-or {
  color: white;
}
header.content .content-login .container-login .btn-register {
  color: #694e58;
  text-decoration: underline;
}
section.content {
  position: relative;
  top: -100px;
}
section.content > .container .col-wrapper {
  width: 24.9%;
  float: left;
}
section.content > .container .col-wrapper * {
  width: 224px;
  margin: auto;
}
section.content > .container .col-wrapper .col-container {
  height: 224px;
  background: transparent url('/statics/img/url_anno_landing_circles.png') no-repeat 0px -17px;
}
section.content > .container .col-wrapper h1 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  margin: 12px auto;
}
section.content > .container .col-wrapper p {
  text-align: left;
  font-style: italic;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  color: #333;
}
section.content > .container .col1 .col-container {
  background-position: -22px -17px;
}
section.content > .container .col1 h1 {
  color: #3B4455;
}
section.content > .container .col2 .col-container {
  background-position: -262px -17px;
}
section.content > .container .col2 h1 {
  color: #855759;
}
section.content > .container .col3 .col-container {
  background-position: -502px -17px;
}
section.content > .container .col3 h1 {
  color: #C59054;
}
section.content > .container .col4 .col-container {
  background-position: -742px -17px;
}
section.content > .container .col4 h1 {
  color: #E0B25D;
}
@-moz-document url-prefix() {
  section.content {
    top: -360px;
  }
}
section.section-middle {
  margin-top: 55px;
}
section.section-middle .container {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 60px 0px;
}
section.section-middle .container h1 {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  margin: 12px auto;
  text-align: center;
}
section.section-bottom .container {
  padding: 30px 0px;
  background: url('/statics/img/u_landing_03.png') repeat 0px 0px;
}
section.section-bottom .container .col1,
section.section-bottom .container .col2 {
  float: left;
  width: 48%;
}
section.section-bottom .container .col1 .ico,
section.section-bottom .container .col2 .ico {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ddd;
  background-color: white;
  float: left;
  margin-left: 50px;
}
section.section-bottom .container .col1 .ico-desc,
section.section-bottom .container .col2 .ico-desc {
  margin-left: 240px;
  margin-top: 30px;
}
section.section-bottom .container .col1 .ico-desc p,
section.section-bottom .container .col2 .ico-desc p {
  text-align: left;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}
section.section-bottom .container .col1 .ico-desc p a,
section.section-bottom .container .col2 .ico-desc p a {
  color: #694e58;
  text-decoration: underline;
}
section.section-bottom .container .col1 .ico-desc p a:hover,
section.section-bottom .container .col2 .ico-desc p a:hover {
  color: #704e58;
}
section.section-bottom .container .col1 .ico {
  background: #ffffff url('/statics/img/u_landing_07.png') no-repeat 32px 28px;
}
section.section-bottom .container .col2 .ico {
  background: #ffffff url('/statics/img/u_landing_09.png') no-repeat 28px 28px;
}
footer.footer {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 20px 0 0 0;
  color: #075b8d;
  height: 18px;
}
