@import '../bootstrap/variables.less';
@import '../bootstrap/mixins.less';

.alert-container {
  position: static;
  margin-top:0px;
}

form.form.form-horizontal {
  .form-actions {
    background-color: white;
    border-top:0px none;
  }
}

.btn-link {
  background:none;
  border:0;
  color:#0088cc;
  cursor:pointer;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
    color:#005580;
  }
}