.container-register p,
.container-login p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-register .well-anno.row .form-actions,
.container-login .well-anno.row .form-actions {
  background: transparent;
  border-top: 0px none;
}
