.container-register,
.container-login {
  p {
    margin-top:10px;
    margin-bottom:10px;
  }
  .well-anno.row {
    .form-actions {
      background: transparent;
      border-top:0px none;
    }
  }
}