@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

// use 2 space tabulation



html, body {
  height: 100%;
  min-height:100%;
}

html, body {
  min-width:950px;
}


.sidebar-nav {
  padding: 9px 0;
}

div.navbar {
  .brand {
    margin: 14px 3px 11px 0px;
    padding: 0px 5px 0px 5px;
    background:url('/statics/img/url_anno_header_03.png') no-repeat center center;
    width:168px;
    height:35px;
    border-right:1px solid #4D5564;
  }
  .dropdown .caret {
    margin-top:18px;
  }
  .navbar-inner {
    background:url('/statics/img/url_anno_header_navbar_bg.png') repeat-x 0px 0px;
    .box-shadow(none);
    .border-radius(0px);
    padding:0px;
    .container {
      div.nav-collapse {
        ul.nav {
          li {
            a {
              line-height: 39px;
            }
            &.active {
              a {
                background-color: transparent;
              }
            }
          }
        }
        ul.nav.project {
          li a {
            color:#B99859;
            font-style: italic;
          }
        }
        ul.userNav {
          li.new-project a,
          li.documentation a {
            color:white;
            &:before {
              content:'●';
              margin-right:6px;
            }
          }
          li.new-project {
            a {
              font-weight: bold;
              font-size:16px;
              &:before{
                font-size:22px;
                line-height: 22px;
              }
            }
          }
          li.documentation {
            a:before{
              font-size:16px;
              line-height: 16px;
            }
          }
          li.dropdown {
            a {
              line-height: 16px;
            }
            a.dropdown-toggle {
              float:right;
              padding:0px;
              .mail-wrapper {
                text-shadow:none;
                color:#B99859;
                width:180px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space:nowrap;
                float: left;
                padding:25px 10px 18px 19px;
                .login-desc {
                  float:right;
                  text-transform: lowercase;
                  line-height: 14px;
                  font-style: italic;
                  margin-right: 10px;
                  margin-top:-15px;
                  color:#999DA5;
                  text-decoration: none;
                }
                .mail {
                  float:right;
                  text-decoration: underline;
                }
              }
              .down {
                background: transparent url('/statics/img/url_anno_toggle.png') no-repeat -9px 1px;
                width: 10px;
                height: 10px;
                display: none; // toggled li.open
                margin-top: 25px;
              }
              .left {
                background: transparent url('/statics/img/url_anno_toggle.png') no-repeat 1px 1px;
                width: 10px;
                height: 10px;
                display: inline-block; // toggled li.open
                margin-top: 25px;
              }
            }
          }
          li.open {
            a.dropdown-toggle {
              .down {
                display: inline-block;
              }
              .left {
                display: none;
              }
            }

            ul.dropdown-menu {
              text-align: left;
              left:0;
              .border-radius(0px);
              margin-top: 0px;
              &:before {
                display: none;
              }
              &:after {
                display: none;
              }
              li {
                margin-right: 10px;
                float: none;
                a {
                  text-decoration: none;
                  text-transform:lowercase;
                  padding:5px;
                  &:hover{
                    background-color: white;
                    color:#333;
                  }
                }
              }
            }
          }
        }
        ul.loginNav {
          li.open {
            a.dropdown-toggle {
              .down {
                display: inline-block;
              }
              .left {
                display: none;
              }
            }

            ul.dropdown-menu {
              .border-radius(0px);
              margin-top: 0px;
              &:before {
                display: none;
              }
              &:after {
                display: none;
              }
            }
          }

        }
        &.in { // this is for smarphones aka @media (max-width: 979px)
          background-color: black;
        }
      }
    }
  }

  .bottom-bar {
    background: #E0B25D url('/statics/img/url_anno_header_navbar2_bg.png') no-repeat 0px 0px;
    height:6px;
    width:100%;
  }
  &:after{
    clear:both;
    padding-bottom:6px;
  }

  header.header {
    background-color: #F7F7F7;
    border-bottom:2px solid #EDEDED;
    margin-bottom:20px;
    h1, h2, h3 {
      font-size:22px;
      line-height:40px;
      font-weight: normal;
      display: inline;
    }
    p, span {
      line-height: 40px;
      vertical-align: top;
    }
  }
}
.wrapper {
  min-height:100%;
  margin-bottom:-81px;
}

.container-main {
  padding-bottom:81px;
}
.container-main2 {
  padding-bottom:81px;
}


footer.footer {
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0px;
  color: #075b8d;
  height: 50px;
}


td.progressCol {
  width: 30px;
}
td.classfierCol {
  width: 30px;
}
td.budgetCol {
  width: 70px;
}
td.totalCostCol {
  width: 70px;
}
td.hoursSpentCol {
  width: 70px;
}
td.linksCol {
  width: 90px;
}
td.beatMachineCol {
  width: 40px;
}
td.statusCol {
  width: 90px;
}



.well-anno {
  padding: 19px 0px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  .border-radius(4px);
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
}