@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

header.content {
  .content-columns {
    .col-left {
      height:185px;
      background-color: #3a4354;
      float:left;
      width:50%;
      &:after {
        clear:both;
      }
    }
    .col-right {
      float:right;
      height:185px;
      background-color:#e0b25d;
      width:50%;
      &:after {
        clear:both;
      }
    }
  }

  .content-colors {
    position: relative;
    top:0px;
    .container-colors {
      background: transparent url('/statics/img/url_anno_landing_bg.png') repeat-y 0px 0px;
      height:185px;
    }
  }

  .content-stripped {
    position: relative;
    top:-185px;
    background: transparent url('/statics/img/url_anno_landing_strips.png') repeat 0px 0px;
    height:185px;
    width:100%;
  }

  .content-login {
    position: relative;
    top:-370px;
    height:185px;
    width:100%;
    .container-login {
      .brand {
        margin: 12px 0px;
        background:url('/statics/img/url_anno_landing_logo.png') no-repeat center center;
        width:223px;
        height:47px;
      }
      .btn-login {
        margin-top:20px;
      }
    }
  }
}

section.content {
  > .container {

  }
}

footer.content {
  > .container {

  }
}