@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

// please use 2 space tabulation

@draft : #E0B25D;

@initializing : #A6CE73;

@active : #8CC04A;

@stopped : #F2DEDE;

@completed : #F7F7F9;

// too short to place in separated file


.body-draft {
  div.navbar.navbar-fixed-top .bottom-bar {
    background-color: @draft;
    background-image: none;
  }

}

.body-initializing {
  div.navbar.navbar-fixed-top .bottom-bar {
    background-color: @initializing;
    background-image: none;
  }

}

.body-active {
  div.navbar.navbar-fixed-top .bottom-bar {
    background-color: @active;
    background-image: none;
  }

}

.body-stopped {
  div.navbar.navbar-fixed-top .bottom-bar {
    background-color: @stopped;
    background-image: none;
  }

}

.body-completed {
  div.navbar.navbar-fixed-top .bottom-bar {
    background-color: @completed;
    background-image: none;
  }

}

div.alert {
  padding-bottom:37px;
  form {
    margin-bottom:0px;
  }
}

div.status-draft {
  background-color: @draft;
  border:1px solid darken(@draft, 10%);
}
div.status-initializing {
  background-color:@initializing;
  border:1px solid darken(@initializing, 10%);
}
div.status-active {
  background-color: @active;
  border:1px solid darken(@active, 10%);
}
div.status-stopped {
  background-color: @stopped;
  border:1px solid darken(@stopped, 10%);
}
div.status-completed {
  background-color: @completed;
  border:1px solid darken(@completed, 10%);
}

div.span2.infobox {
  background-color: #F7F7F9;
  text-align: center;
  border: 1px solid #E1E1E8;
  @media (max-width: 979px) and (min-width: 768px) {
    height:63px;
  }
  margin-left:18px;

  h3 {
    color:#8CC04A;
  }
}

div.infobox-disabled {
  background-color: #F7F7F9;
  color: gray;
  h3 {
    color:#DBA442!important;
  }
}

span.badge {
  &.badge-draft {
    background-color:@draft;
  }
  &.badge-initializing {
    background-color:@initializing;
  }
  &.badge-active {
    background-color:@active;
  }
  &.badge-stopped {
    background-color:@stopped;
  }
  &.badge-completed {
    background-color:@completed;
  }
}

div.update-box {
  margin-bottom: 5px;
  clear: both;
}
.box-img {
  width: 60px;
  height: 60px;
  float: left;
}
span.box-header {
  display: block;
  font-weight: bold;
}
span.box-content {
  display: block;
}

table#btm-statistics td:nth-of-type(2){
    width: 100px;
    text-align: right;
}

.nav.nav-tabs {
  li a {
    text-decoration: underline;
    color:#D0A271;
  }
  li.active a {
    text-decoration: none;
    color:#333;
  }
}

.span3-updates {
  float:right!important;
}