.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.chart-container {
  height: 200px;
}
#performanceGraph {
  height: 230px;
}
.body-draft div.navbar .bottom-bar {
  background-color: #e0b25d;
  background-image: none;
}
.body-initializing div.navbar .bottom-bar {
  background-color: #ffe2ac;
  background-image: none;
}
.body-active div.navbar .bottom-bar {
  background-color: #8cc04a;
  background-image: none;
}
.body-stopped div.navbar .bottom-bar {
  background-color: #855759;
  background-image: none;
}
.body-completed div.navbar .bottom-bar {
  background-color: #3a4354;
  background-image: none;
}
div.alert {
  padding-bottom: 37px;
}
div.alert form {
  margin-bottom: 0px;
}
div.status-draft {
  background-color: #e0b25d;
  border: 1px solid #d89e32;
}
div.status-initializing {
  background-color: #ffe2ac;
  border: 1px solid #ffd079;
}
div.status-active {
  background-color: #8cc04a;
  border: 1px solid #729f38;
}
div.status-stopped {
  background-color: #855759;
  border: 1px solid #664344;
}
div.status-completed {
  background-color: #3a4354;
  border: 1px solid #252b36;
}
div.span2.infobox {
  -webkit-box-shadow: inset 0px 0px 2px 2px #f8f8f8;
  -moz-box-shadow: inset 0px 0px 2px 2px #f8f8f8;
  box-shadow: inset 0px 0px 2px 2px #f8f8f8;
  padding: 15px 0px;
  background-color: #fafafa;
  text-align: center;
  border: 1px solid transparent;
  margin-left: 18px;
}
@media (max-width: 979px) and (min-width: 768px) {
  div.span2.infobox {
    height: 63px;
  }
}
@media (min-width: 1200px) {
  div.span2.infobox {
    margin-left: 28px;
  }
}
div.span2.infobox h3 {
  color: #8CC04A;
  font-size: 30px;
  line-height: 34px;
}
div.infobox-disabled {
  background-color: #F7F7F9;
  color: gray;
}
div.infobox-disabled h3 {
  color: #DBA442!important;
}
span.badge.badge-draft {
  background-color: #e0b25d;
}
span.badge.badge-initializing {
  background-color: #ffe2ac;
}
span.badge.badge-active {
  background-color: #8cc04a;
}
span.badge.badge-stopped {
  background-color: #855759;
}
span.badge.badge-completed {
  background-color: #3a4354;
}
table#btm-statistics td:nth-of-type(2) {
  width: 100px;
  text-align: right;
}
.nav.nav-tabs li a {
  text-decoration: underline;
  color: #d0a271;
}
.nav.nav-tabs li.active a {
  text-decoration: none;
  color: #333;
}
.span3-updates {
  float: right!important;
}
.accordion-group {
  background: url('/statics/img/url_anno_stream_bg.png') repeat 0px 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.accordion-group #collapseOne {
  margin-bottom: 10px;
}
.accordion-group .accordion-heading {
  padding-bottom: 10px;
  padding-top: 15px;
}
.accordion-group .accordion-heading .accordion-toggle {
  padding: 0px;
  color: #d0a271;
}
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .show,
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .hide {
  margin-right: 6px;
  text-decoration: underline;
}
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .show i,
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .hide i {
  width: 9px;
  height: 9px;
  background: url('/statics/img/url_anno_proj_arrows.png') 0px 0px;
  display: block;
  float: right;
  margin-top: 6px;
  text-decoration: none;
}
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .show {
  display: none;
}
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .hide {
  display: inline;
}
.accordion-group .accordion-heading .accordion-toggle .accordion-notify .hide i {
  background-position: 0px -9px;
}
.accordion-group .accordion-heading .accordion-toggle.collapsed .accordion-notify .show {
  display: inline;
}
.accordion-group .accordion-heading .accordion-toggle.collapsed .accordion-notify .hide {
  display: none;
}
.accordion-group .accordion-inner {
  border: 0px none;
  padding: 0px;
}
.accordion-group .accordion-inner .update-box {
  margin-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-right: -1px;
  -webkit-box-shadow: 1px 1px 2px #eeeeee;
  -moz-box-shadow: 1px 1px 2px #eeeeee;
  box-shadow: 1px 1px 2px #eeeeee;
  color: #d0a271;
}
.accordion-group .accordion-inner .update-box a {
  color: #d0a271;
  text-decoration: underline;
}
.accordion-group .accordion-inner .update-box .box-img {
  float: left;
  width: 55px;
  height: 55px;
  padding: 5px;
}
.accordion-group .accordion-inner .update-box .box-img img {
  width: 55px;
  height: 55px;
}
.accordion-group .accordion-inner .update-box .box-inner {
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
  float: left;
}
@media (min-width: 1200px) {
  .accordion-group .accordion-inner .update-box .box-inner {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
  }
}
.accordion-group .accordion-inner .update-box span.box-header {
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.accordion-group .accordion-inner .update-box span.box-content {
  display: block;
}
.container-main {
  padding-bottom: 0px;
}
