
        <form class="form-vertical" data-validate="ketchup"\
        <fieldset>\
            <div class="question-group">\
            <h2>Enter url samples</h2>\
            <div id="questions" class="control-group open-question">\
            </div>\
        </fieldset>\
        <input type="submit" value="Submit">\
        </form>\
